@use 'sass:color';
@use 'functions' as *;
@use 'variables' as *;

:root {
  --dropdown-border-color: #ccc;
  --dropdown-background-color: rgba(255, 255, 255, 98%);
  --dropdown-shadow: 0 2px 4px rgba(0, 0, 0, 10%), 0 1px 2px rgba(0, 0, 0, 8%);
  --modal-background-color: rgba(0, 0, 0, 50%);
  --modal-background-variant-color: rgba(255, 255, 255, 95%);
  --modal-border-color: #ccc;
  --background-border-color: #ccc;
  --background-color: #e0f3f8;
  --background-color-tint: rgba(224, 243, 248, 95%);
  --surface-background-color: #fff;
  --surface-variant-background-color: #f5f9fa;
  --surface-variant-active-background-color: #eef3f5;
  --surface-border-color: #d0e3e8;
  --on-surface-color: rgba(255, 255, 255, 50%);
  --avatar-border-radius: 4px;
  --media-outline-color: rgba(0, 0, 0, 10%);
  --overlay-icon-shadow: drop-shadow(0 0 4px rgba(0, 0, 0, 20%));
  --error-background-color: #{darken($error-red, 16%)};
  --error-active-background-color: #{darken($error-red, 12%)};
  --on-error-color: #fff;
  --rich-text-container-color: #f5f9fa;
  --rich-text-text-color: #333;
  --rich-text-decorations-color: #ccc;
  --nested-card-background: #f5f9fa;
  --nested-card-text: #666;
  --nested-card-border: 1px solid #d0e3e8;
  --input-placeholder-color: #999;
  --input-background-color: #fff;
  --on-input-color: #333;
}

body {
  // Variable for easily inverting directional UI elements,
  --text-x-direction: 1;

  &.rtl {
    --text-x-direction: -1;
  }
}
